/* SCSS Variables For APP */

$font-color: gray;
$background-color: #e8e8e861;
$bucket-title-color: black;
$item-component-background-color: white;
$item-box-shadow: 0 0.12em 0.93em rgba(0, 0, 0, 0.3);
$item-box-shadow-hover: 0 0.37em 0.37em rgba(0, 0, 0, 0.3);