.loader-component {
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 100%;
    background-color: #f59300e1;
    display: flex;
    justify-content: center;
    align-content: center;
}